{% extends "template.html" %}
{% block page_content %}
    <div class="container">
        <div class="container1">
            <h1>Terms of Service</h1>
            <p>
                When you use ChatrNet (https://chatrnet.com), now and in the future,<br>
                you are agreeing to these Terms of Service.<br><br>
            </p>
            <h3>User</h3>
            <p>
                You are responsible for all the content posted.<br>
                You must be human.<br>
                You must be 18 years or older.<br><br>
            </p>
            <h3>Data</h3>
            <p>
                The use of this website is at your sole risk.<br>
                ChatrNet is not responsible for any data uploaded.<br>
                ChatrNet is not responsible for any data loss.<br>
                ChatrNet will never sell your data to a third party.<br>
                ChatrNet is not responsible if someone scrapes this site.<br><br>
            </p>
            <h3>Copyright and Ownership</h3>
            <p>
                All content posted on ChatrNet must comply with U.S. copyright law.<br>
                ChatrNet claims no intellectual property rights over material provided.<br><br>
            </p>
        </div>
    </div>
{% endblock %}